{
	auto_https off
	http_port 8080
}
:8080 {
    root * /code/static
	file_server {
		browse
		hide .git .gitignore .idea *.yml *.py *.mp4 *.log
	}
	log {
		output file lanz_access.log
		format transform `{request>headers>X-Forwarded-For>[0]:request>remote_ip} - {user_id} [{ts}] "{request>method} {request>uri} {request>proto}" {status} {size}` {
	time_format "02/Jan/2006:15:04:05 -0700"
}
	}
}
