{
	auto_https off
	http_port 8080
}
:8080 {
    root * /code/static
	file_server {
		browse
		hide .git .gitignore .idea *.yml *.py *.mp4 *.log
	}
	log {
		output file lanz_access.log
		format json
	}
}
